<ul>
   {{#each products}}
   <l1>{{title}}</l1>
   <li>{{price}}</li>
   <li>{{category}}</li>
   <li>{{description}}</li>
   <li>{{stock}}</li>
   <li>{{code}}</li>
   <li>{{status}}</li>
   {{/each}}
</ul>


<script src="/js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>